* {
    scroll-behavior: smooth;
}
.heroe {
    height: 100vh;
}
.heroe-content{
    animation: fadeInUp 2s ease-out;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.form-field-error {
  border-color: #ef4444;
}

.form-field-error + .text-red-500 {
  display: block;
}
