@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap");
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
body {
  padding: 75px 0;
}
header {
  background: linear-gradient(45deg, #583c87, #e45a84, #ffacac);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color: white;
  padding: 5px 0 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 1000;
  /* height: 70px; */
  width: 100%;
}
header #logo {
  margin-left: 1rem;
  font-size: 2.5rem;
}
header ul {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}
header ul li {
  margin: 0 1rem;
}
header ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
header ul li a:hover {
  text-decoration: underline;
  color: #ffacac;
}
.heroe {
  font-family: "Bitter", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;   

}

/* Animated Background */
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  50% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0.5;
    border-radius: 50%;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: animate;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(0) {
  color: #583c87;
  top: 29%;
  left: 2%;
  animation-duration: 30s;
  animation-delay: -25s;
  transform-origin: -1vw 22vh;
  box-shadow: -40vmin 0 5.235957819033348vmin currentColor;
}
.background span:nth-child(1) {
  color: #ffacac;
  top: 5%;
  left: 81%;
  animation-duration: 20s;
  animation-delay: -32s;
  transform-origin: 13vw -1vh;
  box-shadow: 40vmin 0 5.63980315893096vmin currentColor;
}
.background span:nth-child(2) {
  color: #583c87;
  top: 25%;
  left: 4%;
  animation-duration: 25s;
  animation-delay: -38s;
  transform-origin: 1vw 1vh;
  box-shadow: 40vmin 0 5.093874392949779vmin currentColor;
}
.background span:nth-child(3) {
  color: #e45a84;
  top: 92%;
  left: 82%;
  animation-duration: 12s;
  animation-delay: -12s;
  transform-origin: -10vw 8vh;
  box-shadow: 40vmin 0 5.959845945371306vmin currentColor;
}
.background span:nth-child(4) {
  color: #ffacac;
  top: 58%;
  left: 21%;
  animation-duration: 33s;
  animation-delay: -25s;
  transform-origin: 19vw -10vh;
  box-shadow: 40vmin 0 5.485458066526131vmin currentColor;
}
.background span:nth--child(5) {
  color: #e45a84;
  top: 73%;
  left: 28%;
  animation-duration: 35s;
  animation-delay: -21s;
  transform-origin: 21vw 1vh;
  box-shadow: -40vmin 0 5.068361199349833vmin currentColor;
}
.background span:nth-child(6) {
  color: #583c87;
  top: 66%;
  left: 87%;
  animation-duration: 32s;
  animation-delay: -39s;
  transform-origin: 1vw 21vh;
  box-shadow: -40vmin 0 5.892330769399187vmin currentColor;
}
.background span:nth-child(7) {
  color: #e45a84;
  top: 89%;
  left: 4%;
  animation-duration: 21s;
  animation-delay: -21s;
  transform-origin: 2vw -7vh;
  box-shadow: -40vmin 0 5.161092147683416vmin currentColor;
}
.background span:nth-child(8) {
  color: #583c87;
  top: 31%;
  left: 88%;
  animation-duration: 38s;
  animation-delay: -11s;
  transform-origin: -19vw -12vh;
  box-shadow: -40vmin 0 5.088682126297926vmin currentColor;
}
.background span:nth-child(9) {
  color: #ffacac;
  top: 82%;
  left: 7%;
  animation-duration: 25s;
  animation-delay: -18s;
  transform-origin: -16vw 15vh;
  box-shadow: -40vmin 0 5.586280425712534vmin currentColor;
}

/* socila icons */

.social-icons {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 1000;
  transition: right 0.3s ease-in-out;
}
.social-icons:hover {
  width: 40px;
}
.social-icon {
  background: #583c87;
  color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}

.social-icon:hover {
  color: #ffacac;
  background: transparent;
  transform: scale(1.6);
}
/* price */
h2.price-heading,
h2#ourTeam {
  text-align: center;
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #7c7979;
  text-transform: capitalize;
}
.price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
  flex-wrap: wrap;
  border: #ffacac 2px solid;
  border-radius: 20px;
  width: 95%;
  margin: auto;
  padding: 40px 10px;
  transition: all 0.3s ease-in-out;
}
.price-container:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
  border: solid #583c87 2px;
}

.price-card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: #583c87;
}

.price-card:hover {
  transform: translateY(-10px) scale(1.05);
}
/* our team */
.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem auto;
  flex-wrap: wrap;
  border: #ffacac 2px solid;
  border-radius: 20px;
  width: 95%;
  margin: auto;
  padding: 40px 10px;
  transition: all 0.3s ease-in-out;
}
.team-container:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2),
    0 4px 6px -2px rgba(0, 0, 0, 0.1);
  border: solid #583c87 2px;
}
.team-member {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  width: 250px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  color: #583c87;
  overflow: hidden;
}
.team-member:hover {
  transform: translateY(-10px) scale(1.05);
}
.team-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 1rem;
  transition: all 0.3s ease-in-out;
}
.team-member img:hover {
  transform: scale(1.1);
}
.team-member h3 {
  margin-bottom: 0.5rem;
}
.team-member p {
  font-size: 0.9rem;
  color: #666;
}

/* Contact Form */
.form {
  width: 100%;
  margin: 2rem auto;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
#contact-form input,
#contact-form textarea {
  transition: all 0.3s ease-in-out;
}

#contact-form input:focus,
#contact-form textarea:focus {
  box-shadow: 0 0 15px rgba(99, 102, 241, 0.5);
}

#contact-form button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-field-error {
  border-color: #ef4444;
}

.form-field-error + .text-red-500 {
  display: block;
}

/* Slider */
.slider-container {
  position: relative;
  max-width: 800px;
  margin: 2rem auto;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider img {
  width: 100%;
  flex: 1;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  z-index: 1;
}

.prev-btn {
  left: 1rem;
}

.next-btn {
  right: 1rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-container {
  animation: fadeInUp 2s ease-out;
  /* animation-timeline: view(); */
  width: 80vw;
  margin: auto;
  /* background-color: #ef4444; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer */
.footer-container {
  background: linear-gradient(45deg, #583c87, #e45a84, #ffacac);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
